#timeline .g-annotation
	text
		fill $fg
		font-weight 600
		set-type-size(small)
	.note-line
		display none
	.annotation-connector--bg
		// .connector
		// 	stroke $bg
		// 	stroke-width 3px
		// .connector-end
		// 	stroke-width 2px
		// 	fill $bg
		// 	stroke $bg
	.annotation-connector--fg
		.connector
			stroke $fg
			stroke-width 2px
		.connector-end
			stroke-width 2px
			fill $fg
			stroke $fg