#timeline .g-annotation
	.annotation-note-bg
		cursor pointer
		pointer-events auto
	text
		fill $fg
		font-weight 500
		set-type-size(small)
		letter-spacing 0.02em

	.annotation-note-title
		font-weight 700
		set-type-size(root)
		fill $secondary
	
	.note-line
		display none

	rect
		fill-opacity 1
		fill lighten($bg,10)
		// stroke darken($fg, 20)
		// stroke-width 2px
	
	.annotation-connector
		opacity 0
		.connector
			stroke $fg
			stroke-width 2px
		.connector-end
			stroke-width 2px
			fill $fg
			stroke $fg
		&.is-visible
			opacity 1
		
