#timeline .g-annotation
	.note-line
		display none
	.annotation-connector--bg
		.connector
			stroke $fg
			stroke-width 6px
		.connector-end
			stroke-width 6px
			fill $fg
			stroke $fg
	.annotation-connector--fg
		.connector
			stroke $bg
			stroke-width 3px
		.connector-end
			stroke-width 3px
			fill $bg
			stroke $bg