.intro
	margin 0 auto
	padding 4rem 1rem 1.5rem 1rem

	&__hed
		display none
		max-width $column-width
		margin 0 auto
		padding-top 1rem
		font-weight 700
		color $fg
		// text-align center
		span
			vertical-align middle
			font-size 1.75em
		set-type-size('xx-large', true)
		+mq('bp-3')
			font-size 54px
			
	
	&__byline
		max-width 70rem
		margin 0 auto
		padding-top 2rem
		padding-bottom 0
		set-type-size('root', true)
		font-weight 500
		display flex
		flex-direction column
		strong
			font-weight 500
		a
			border none
			max-width 12rem

		
	&__dek
		max-width $column-width
		margin 0 auto
		padding-top 0.5rem
		text-align center
		set-type-size('xxx-large')
		font-weight 500
		strong
			font-weight 700

	&__prelude
		max-width 70rem
		margin 0 auto
		margin-bottom 3rem
		p
			set-type-size('medium')
			+mq('bp-4')
				set-type-size('large')
			+mq('bp-6')
				text-align justify
				set-type-size('x-large')
				line-height 1.65
		strong
			font-family $national
			font-weight 700
			letter-spacing 0.04em
			border-bottom 3px solid $primary