/* CUSTOM STORY STYLE */
body
	font-weight 500

section
	margin-bottom 5rem

.section__intro
	margin-bottom 3rem
	h2
		text-align center
		line-height 1
		font-weight 700
		set-type-size(xx-large, false)
		text-transform capitalize
	
.section__content
	position relative
	.sticky
		position sticky

#outro
	max-width $column-width
	margin 0 auto
	position relative
	.outro__tease p
		set-type-size(large, true)
		margin-bottom 5rem
	.outro__method p
		set-type-size(root, true)
	

.sticky
	position sticky

footer.pudding-footer
	background-color darken($bg, 5)