/* CUSTOM STORY STYLE */
body
	font-family $mono
#timeline
	display flex
	flex-wrap wrap
	justify-content center
	flex-direction column

	h3
		text-align center
	ul
		display flex
		justify-content center
	li
		display flex
		flex-direction column
		// padding 0 0.25em
		text-align center
		width 5.5rem
		line-height 1
		.month
			text-transform uppercase
			set-type-size(xx-small, false)
			color $gray-dark
		.flag
			font-size 3rem
		.name
			line-height 1.25
			set-type-size(x-small, false)
			color $gray-dark
			font-weight 500

.month
	font-family $mono