/* CUSTOM STORY STYLE */
body
	// font-family $sans
	// background $beige-dark

section
	margin-bottom 5rem

.section__intro
	margin-bottom 3rem
	h2
		text-align center
		line-height 1
		font-weight 700
		set-type-size(xx-large, false)
		text-transform capitalize
	
.section__content
	position relative
	.sticky
		position sticky