<section id='globe'>
	<h3 class='globe__current'>
		<span class='current__year'></span>
		<span class='current__flag'></span>
		<span class='current__country'></span>
	</h3>
	<svg class='globe__svg'></svg>
	<div class='globe__slider slider'></div>
	<div class='globe__headline'>
		<p>Headlines</p>
		<ul></ul>
	</div>
	<div class='globe__subregion'>
		<p>Subregion Tally</p>
		<ul></ul>
	</div>
</section>