<section id='globe' class='tk-national'>
	<div class='section__intro'>
		<h2 class='tk-national'>{{{doc.globeHed}}}</h2>
	</div>
	<div class='section__content'>
		<h3 class='globe__current'>
			<span class='current__year'></span>
			<span class='current__flag'></span>
			<span class='current__country'></span>
		</h3>
		<div class='globe__slider slider'></div>
		<svg class='globe__svg'></svg>
		<div class='globe__headline'>
			<p>Headlines</p>
			<ul></ul>
		</div>
		<div class='globe__subregion'>
			<p>Subregion Tally</p>
			<ul></ul>
		</div>
	</div>
	
</section>