<section id='globe'>
<h3 class='globe__current'>
	<span class='current__year'></span>
	<span class='current__flag'></span>
</h3>
<svg class='globe__svg'></svg>
<div class='globe__slider slider'></div>
<div class='globe__by-month'>
	<p>Top country by month</p>
	<ul></ul>
</div>
</section>