<section id='timeline' class='tk-national'>
	<div class='section__intro'>
		<h2 class='tk-national'>{{{doc.timelineHed}}}</h2>
	</div>
	<div class='section__content'>
		<div class='timeline__headline sticky'>
			<p>Headlines</p>
			<ul></ul>
		</div>
		<figure>
			<div class='figure__chart'></div>
			<div class='figure__annotation'></div>
		</figure>
	</div>
</section>