<section id='timeline' class='tk-national'>
	<div class='section__content'>
		<div class='timeline__headline sticky'>
			<p>Headlines</p>
			<ul></ul>
		</div>
		<figure>
			<div class='figure__chart'></div>
			<svg class='figure__annotation'></svg>
		</figure>
	</div>
</section>