<section id='timeline' class='tk-national'>
	<div class='section__content'>
		<div class='timeline__headline sticky'>
			<h3></h3>
			<p>{{{doc.headlineDek}}}</p>
			<ul></ul>
		</div>
		<button class='timeline__toggle'>Show headlines</button>
		<figure>
			<div class='figure__chart'></div>
			<svg class='figure__annotation'></svg>
			<div class='mobile-label'>
				<p></p>
			</div>
		</figure>
	</div>
</section>